header{
    text-align:center;
    }
    main{
    margin-left:120px;
    }
    .box{
    display: block;
    float: left;
    width: 20%;
    padding: 10px;
    padding-left: 12px;
    }
    img{
    width: 100%;
    border-radius: 5px;
    padding: 10px
}